{% extends "base.html" %}

{% block title %}انتخاب واحد{% endblock title %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{form_searching.as_p}}
        <button>جستجو</button>
    </form>
    <br><br>

    {% include "showing_the_chosen_lessons.html" with chosen_classes=chosen_classes %}

    <h2> نتیجه جستجو </h2>
    {% if flag %}
        <h2>درسی پیدا نشد</h2>
    
    {% else %}
        <form method="POST" action="{% url 'student:pre_save' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <th> زمان برگزاری </th>
                    <th> روز برگزاری </th>
                    <th> نام استاد </th>
                    <th> نام درس </th>
                    <th> کد درس </th>
                    <th>  </th>
                </tr>
                {% for i, j in available_classes.items %}
                    <tr>
                        <td> {{j.5}} </td>
                        <td> {{j.4}} </td>
                        <td> {{j.2}} </td>
                        <td> {{j.1}} </td>
                        <td> {{j.3}} </td>
                        <th>  <input type="radio" id="{{ i }}" name="chosen_class" value="{{ j.0 }}"> </th>
                    </tr>

                {% endfor %}
            </table>
            <button type="submit">انتخاب</button>
        </form>

    {% endif %}
        
{% endblock content %}